*{
    box-sizing: border-box;
    font-family: arial;
}

body{
    margin:0px;
    background-image: url(pic/1b.png);
    background-size:cover;
}


#first-insider{
    display: none;
}

#second-insider{
    display: none;
}
#main-sean{
    visibility: visible;
}
.dashboard{
    width:18%;
    height:800px;
    position: fixed;top:0;
    background: linear-gradient(to bottom,rgb(245,245,245,0.6),rgb(0,0,50,0.6));
}

.dashboard h1{
    padding:20px;
    text-shadow:0px 2px 0px grey;
}

.dash-b{
    border:0px solid green;
    margin-top:10px;
    margin-bottom: 10px;
    padding:18px;
    font-size: 18px;
}

.dash-b:hover{
    background:rgba(0,0,100,0.6);
    color:whitesmoke;
    
}

.dash-b a{
    text-decoration: none;
    color:rgb(0,0,70);
}

.dash-b a:hover{
    color:whitesmoke;
}

.dash-b button{
    background:none;
    outline:none;
    border:0px solid green;
    font-size: 18px;
    color:rgb(0,0,70);
}

.dash-b button:hover{
    color:whitesmoke;
}

.main-div-container{
    width:80%;
    margin-left:20%;
    padding:20px;
    border:0px solid green;
}

.sec-div-container{
    border-radius: 40px;
    height:720px;
    background: linear-gradient(to bottom,rgb(245,245,245,0.6),rgb(0,0,50,0.6));
    padding:20px;
    color:rgb(0,0,70);
    font-weight: bold;
    margin-top:20px;
}

.sec-div-container h1{
    color:rgb(0,0,50);
    text-shadow:0px 2px 0px grey;
}

.sec-div-container h3{
    color:rgb(0,0,50);
    text-shadow:0px 2px 0px grey;
}


.sec-div-container table tr td{
    padding:30px;
    margin:10px;
}

.sec-div-container table tr td input{
    float:left;
    width:90%;
    padding:10px;
    border-radius: 10px;
}

.sec-div-container table tr td select{
    float:left;
    width:90%;
    padding:10px;
    border-radius: 10px;
}


.sec-div-container table tr td input:focus{
    outline:none;
}

.sec-div-container table tr td select:focus{
    outline:none;
}


.sec-div-container span{
    width:100%;
    float:left;
}

#ree{
    float:left;   
    width:30%;
}

.con-btn-div{
    width:100%;
    text-align:center;
}

.con-btn{
    padding:20px;
    border-radius:10px;
    width:20%;
    background:rgb(0,0,50);
    border:2px solid rgb(0,0,50);
    color:whitesmoke;
}

.con-btn:hover{
    background:rgba(0,0,50,0.6);
    border:2px solid rgba(0,0,50,0.6);
}


.before-sec-div-container{
    border-radius: 40px;
    height:200px;
    background: linear-gradient(to bottom,rgb(245,245,245),rgb(0,0,50));
    padding:20px;
    color:rgb(0,0,70);
    font-weight: bold;   
}


.before-sec-div-container  input{
    padding:10px;
    border-radius: 10px;
}


.before-sec-div-container input:focus{
    outline:none;
}



.before-sec-div-container  select{
    padding:10px;
    border-radius: 10px;
}


.before-sec-div-container select:focus{
    outline:none;
}


.before-sec-div-container  button{
    padding:20px;
    border-radius:10px;
    width:20%;
    margin-top: 30px;
    margin-left: 450px;
    background:rgb(0,0,50);
    border:2px solid rgb(0,0,50);
    color:whitesmoke;
    text-align: center;
}

.before-sec-div-container  button:hover{
    background:rgba(0,0,50,0.6);
    border:2px solid rgba(0,0,50,0.6);
}


.mic-div-con{
    border-radius: 40px;
    background: linear-gradient(to bottom,rgb(245,245,245,0.6),rgb(0,0,50,0.6));
    padding:20px;
    color:rgb(0,0,70);
    font-weight: bold;
    margin-top:20px;
    float: left;
    width:100%;
}

.mic-div-con table{
    width:100%;
}

.mic-div-con h1{
    text-align: center;
}

.mic-div-con table tr:nth-child(even){
    background:rgb(230,230,230);
}

.mic-div-con table tr:nth-child(odd){
    background:whitesmoke;
}

.mic-div-con table tr td{
    padding:10px;
    text-align: center;
}