
@media(max-width:860px){
    
    body{
        margin:0;
        width:100%;
    }
    
    .first-main-div{
        width:100%;
        height:300px;
        background-image: url(pic/1b.png);
        float: left;
    }
    
    
    .header{
        width:100%;
        height:200px;
        float: left;
        margin-top: 15px;
    }
    
    .header img{
        float:left;
        margin-left: -10px;
        width:80%;
    }
    
    #first-insider{
        border:0px solid green;
        width:12%;
        float:left;
        height:35px;
        background:rgba(255,255,255,0.5);
        display:block;
        padding:5px;
        margin-left: 10%;
    }
    
    #first-insider div{
        background:rgb(0,0,50);
        border-radius:5px;
        height:20%;
        margin:3px;
        width:80%;
    }
    
    
    #second-insider{
        border:0px solid green;
        width:12%;
        float:left;
        height:35px;
        background:rgba(0,0,50,0.6);
        display:none;
        padding:5px;
        margin-left: 10%;
    }
    
    #second-insider div{
        background:rgba(255,255,255,0.7);
        border-radius:5px;
        height:20%;
        margin:3px;
        width:80%;
    }
    
    #main-sean{
        visibility: hidden;
        position: absolute;top:60px;
        width:100%;
        background:rgba(0,0,50,0.6);
        text-align: center;
    }
    
    .sean{
        float: left;
        width:50%;
        margin-left: 160px;
        font-weight: bold;
      
    }
    
    
    .sec-main-div{
        width:100%;
        float:left;
        padding:40px;
    }
    
    
    .inner-sec-div{
        border:0px solid green;
        float:left;
        width:100%;
        padding-left: 0px;
    }
    
    .inner-img{
        width:100%;
        padding-right: 0px;
        float:left;
        margin-left: -10px;
    }
    
    
    .third-main-div{
        width:100%;
        margin-top: 20px;
        height:2000px;
        float:left;
        border:0px solid green;
    }
    
    
    #oket{
        width:130px;
        height:5px;
        border-radius: 10px;
        text-align: center;
        background:rgb(0,0,50);
        float: left;
        margin-left: 680px;
        display: none;
    }
    
    
    .first-third{
        width:100%;
        height:1300px;
        float: left;
        padding-left:80px;
        padding-right:40px;
    }
    
    
    .sec-third{
        width:100%;
        float:left;
    }
    
    .sthir{
        width:100%;
        float: left;
        height:400px;
        margin-top:200px;
        margin-left: -20px;
    }
    
    .little-sthir{
        border:1px solid grey;
        width:100%;
        float: left;
        height:600px;
        border-radius: 5px;
    }
    
    .little-sthir img {
        width:100%;
        float: left;
        border-radius: 5px;
        height:50%;
    }
    
    .sec-little-sthir{
        float:left;
        padding-left: 20px;
        width:100%;
    }
    
    
    .sec-little-sthir img{
        border-radius:50%;
        width:50px;
        height:50px;
    }
    
    
    .tthir{
        border:0px solid red;
        float: left;
        width:100%;
        margin-top: 350px;
        margin-left: -20px;
    }
    
    
    .wthir{
        border:0px solid red;
        float: left;
        width:100%;
        margin-top: 100px;
        margin-left: -20px;
    }
    
    .forth-main-div{
        float: left;
        width:100%;
        border:0px solid green;
        margin-top: 2000px;
    }
    
    
    .mini-inner-forth{
        width:100%;
        float:left;
        border:0px solid green;
        margin-bottom: 400px;
        margin-left: -20px;
    }
    
    
    .miniin{
        float: left;
        border:0px solid green;
        width:100%;
        height:50%;
        padding:20px;
        background-color: rgba(0,0,50,0.4);
    }
    
    
    .center-miniin{
        width:100%;
        border:0px solid green;
        float:left;
        height:50%;
        text-align: center;
    }
    
    
    .last-main-div{
        float:left;
        width:100%;
        margin-top: 2200px;
    }
    
    
    .lasta div{
        width:100%;
        float:left;
        margin-top: 110px;
        margin-left:-10px;
    }
    
    
    .vista{
        width:100%;
        height:1000px;
        float:left;
        background-color: rgba(0,0,50,0.8);
        padding-top:50px;
        margin-top:1100px;
    }
    
    #otet{
        width:130px;
        height:5px;
        border-radius: 10px;
        text-align: center;
        background:rgb(0,0,50);
        float: left;
        margin-left: 720px;
        display:none;
    }
    
    
    .lit-vista{
        width:100%;
        float:left;
        color:white;
        height:300px;
        margin-top: 10px;
    }
    
    .lit-vista img{
        width:100%;
        float:left;
    }
    
}