*{
    box-sizing: border-box;
    font-family: arial;
}

body{
    margin:0px;
  
}


.man-div-container{
    width:100%;
    padding:5px;
    float: left;
    border:2px solid black;
}

.man-div-container table{
    width:100%;
}

.man-div-container table tr td{
    border:1px solid black;
    padding:2px;
    text-align: left;
}

.man-div-container p{
    float:right;
}

.man-div-container h1{
    color:rgb(0,0,50);
    text-shadow:0px 2px 0px grey;
    text-align: center;
    width:90%;
    float: left;
}

.beat table{
    width:100%;
}

.beat table tr td{
    text-align: left;
}

.prn-but{
    text-align: center;
    width:100%;
    float:left;
    padding:20px;
}